.container{
    max-width: 600px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.btn{
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus{
    outline: none !important;
}

.time{
    font-size: 0.7em;
}

.top-section{
    max-height: 28vh;
}

.message-section{
    max-height: 75vh;

}

.chat{
    max-height: 8vh;
}

.messages{
    max-height: 65vh;
    overflow-y: scroll !important;
}
